/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}


.logo{
    background-color: #fa9703;
    /* width: 10px; */
    background-image: linear-gradient(to right, #fa9703 30%, #00d2ff   );
    /* display: flex; */
    color: #fff;
    font-size:20px;
    border-radius: 50%;
    padding: 3px;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
  
}
/*
 * Header
 */

 /* .navbar-light .navbar-toggler-icon {
    background-image: var(--bs-gradient)
 } */
 .navbar-light .navbar-toggler-icon  {
    border-color: rgb(25,100,032);
  } 
.toggle-color{
    /* background-color: blue; */
    max-height:3px
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* button */
.rounded-pill{
    background-color: leanear-gradient;
}
.gradient-button {
    /* margin: 10px; */
    /* font-family: "Arial Black", Gadget, sans-serif; */
    font-size: 12px;
    padding: auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 25px;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-4 {background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)}
.gradient-button-4:hover { background-position: right center; }

/* Carousel base class */
.carousel {
    margin-bottom: 1rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  .carousel-item{
    height: 16rem !important;
  }
  .carousel-control-next{
      bottom: 0 !important;
      right: 0 !important;
      top:auto !important
  }
  .carousel-control-prev{
    bottom: 0 !important;
    right: 0 !important;
    top:auto !important;
    float:right
}
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-height {
    
    height: 15rem;
  }
  
.rounded-circle{
    border-radius: 45% !important;
}
/* card */
.card{ 
    display: flex;
    border: none;
    /* flex-wrap: wrap; */
}
.card-body{
    display: flex;
    justify-content: center;
}
.card-img-top{
    /* width: 70px;
    height: 70px; */
    
}
.card-head{
    display: flex;
    justify-content: center;
}
.card-head img{
    border-color: aquamarine;
}
/* font color */
.fa-file-alt{
    background: -webkit-linear-gradient(#00d2ff, #3a7bd5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.fa-chart-line{
    background: -webkit-linear-gradient(#c107f0, #d53ac3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.fa-chess-knight{
    background: -webkit-linear-gradient(#00ffa6, #94accc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.fa-chart-pie{
    background: -webkit-linear-gradient(#faa403, #eecb05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
/* section 3 */
.secure{ 
    width: 100%;
}
/* progress bar */
/* .progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
} */
